@CHARSET "UTF-8";
#allmap{
	width: 100%;
	height: 300px;
	margin-top: 5px;
}

#remind1{
	top: 180px;
	left:490px;
	position: absolute;
	animation: location 0.5s ease 0.5s forwards;
	-webkit-animation:location 0.5s ease 0.5s forwards;
}
#remind2{
	top: -320px;
	left:490px;
	position: absolute;
	animation: location2 0.5s ease 0.5s forwards;
	-webkit-animation:location2 0.5s ease 0.5s forwards;
}


@keyframes location{
	from { top:180px; left: 490px; }
	to {top:7px; left: 80px;}
}

@-webkit-keyframes location{
	from { top:180px; left: 490px; }
	to {top:7px; left: 80px;}
}

@keyframes location2{
	from { top:-320px; left: 490px; }
	to {top:7px; left: 80px;}
}

@-webkit-keyframes location2{
	from { top:-320px; left: 490px; }
	to {top:7px; left: 80px;}
}
